{% extends "base.html" %}

{% block content %}
    <section class="popular-video">
        <h3>Самое популярное видео на сегодня</h4>
        {% if most_popular_video %}
            <video controls>
                <source src="{{ most_popular_video.webm_url }}" type="video/webm">
                <source src="{{ most_popular_video.mp4_url }}" type="video/mp4">

                Простите, но ваш браузер не поддерживает HTML5 видео.
            </video>
        {% else %}
            <h4>Пока что, у нас нету такого ролика!</h5>
        {% endif %}
    </section>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/index.css">
{% endblock %}